# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
build
coverage

# Cache
.cache
.turbo

# Logs
*.log

# Lock files
pnpm-lock.yaml
package-lock.json
yarn.lock

# Environment files
.env
.env.local
.env*.local

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Prisma
prisma/migrations

# Database
*.db
*.sqlite

# Misc
*.tsbuildinfo
